body {
	font-family: 'Fira Sans', 'Ubuntu';
	font-weight: 500;
	background: url('../img/bg.png');
}

.navbar {
	border-radius: 0px;
}

.page-body {
	margin-top: 65px;
}

.page-body-jumbotron {
	margin-top: 50px;
}

.navbar-tpl {
	margin-right: 10px;
}

.card-margin-bottom {
	margin-bottom: 30px;
}

.shop-image {
	height: 75px;
	display: block;
	margin: 0 auto;
}

.text-red {
	color: #dc3545;
}